<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com._520it.crm.mapper.ProductBrandMapper" >
  <resultMap id="BaseResultMap" type="com._520it.crm.domain.ProductBrand" >
    <id column="id" property="id"  />
	<result column="brandName" property="brandName"  />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from productBrand where id = #{id}
  </delete>
  <insert id="insert" parameterType="com._520it.crm.domain.ProductBrand" useGeneratedKeys="true" keyProperty="id" >
    insert into productBrand 
    (brandName)
    values 
    (#{brandName})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com._520it.crm.domain.ProductBrand" >
    update productBrand
    set
	    brandName=#{brandName}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select * from productBrand where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select * from productBrand
  </select>
  <sql id="conditionSql">
  	<where>
  	</where>
  </sql>
  <select id="queryByCondictionCount" resultType="long">
  	select count(*) from productBrand
  	<include refid="conditionSql"/>
  </select>
  <select id="queryByConditionResult" resultMap="BaseResultMap">
  	select * from productBrand
  	<include refid="conditionSql"/>
  	limit #{start},#{rows}
  </select>
</mapper>